.r

.body{
    position: relative;


    
    background: #FFFFFF;
}

/* Header*/

.header-container{
    align-items: center;
    display: flex;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.nav-list{ 
    display: flex;
    width: 294px;
    height: 16px;
    left: 453px;
    top: 32px;

    position: absolute;
    width: 294px;
    height: 16px;
    left: 453px;
    top: 32px;

} 

.logo-top-line{
    margin-left: 215px;
}
/* WebStudio */
.logo{
    box-sizing: border-box;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    
    color: #212121;
}

.logo-footer{
    color: #FFFFFF;
}
.web{
    color: #2196F3;
}

/* menu nav*/

.nav{
    display: flex;
    
}
.studio{
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.portfolio{
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.contakt{
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

/* телефон в шапке*/
.tel{
    position: absolute;
    width: 142px;
    height: 16px;
    left: 1243px;
    top: 32px;
}

/* e-mail в шапке*/

.e-mail{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.top-line-list{
    margin-right: 50px;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}

.top-line-list2{
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #757575;
}

.top-line-list2 :hover{
    color: #2196F3;
}

.hero{
    background-color: 
    #2F303A;
}

.hero-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    display: block;
    
    color: #FFFFFF;
}
.hero-button{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    
    color: #FFFFFF;
}
 
/* About us*/

.about-us-subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.about-us-desc{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.our-work-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-desc{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}



/* Portfolio*/

.body-portfolio{
    background: #E5E5E5;
}

.top-line-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;

}

.portfolio-list{
    margin-right: 50px;
    display: flex;
}

.portfolio-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.projects-list{
    background: #E5E5E5;
}

.projects-desc{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
    color: #212121;
}

.projects-tagline{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.03em;
    color: #757575;
}

.footer{

    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    
    background: #2F303A;
}

.footer-list-container{
    
    width: 231px;
    height: 81px;
    left: 215px;
    top: 1739px;

}

.address{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
    }

.footer-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

}
